<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
    ddd
    <script>
        $.ajax({ 
            url:"/api/geb/20221028",
            data:{'user':'user'},
            method:"GET",
            dataType:"json"
        })
        .done(function(json){
            console.log(json);
        })
    </script>
</body>
</html>